<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Easily move your software to the cloud</h2>
                <hr class="light">
                <p class="text-faded">Using our pre-built native libraries and client, quickly convert your desktop application to support a cloud-based subscription model. </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
